@model Entity.Concrete.StockDetail

@{
    ViewData["Title"] = @Html.DisplayFor(modelItem => modelItem.symbol);
}

<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Price
            </th>
            <th>
                Exchange
            </th>
            <th>
                Exchange Short Name
            </th>
            <th>
                Type
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => modelItem.summaryDetail.dayHigh.fmt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => modelItem.summaryDetail.dayLow.fmt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => modelItem.summaryDetail.volume.fmt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => modelItem.price.regularMarketPreviousClose.fmt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => modelItem.price.regularMarketChangePercent.fmt)
                </td>
                
            </tr>
        
    </tbody>
</table>

<ul class="list-group list-group-horizontal">
    <li class="list-group-item">Day High</li>
    <li class="list-group-item">@Html.DisplayFor(modelItem => modelItem.summaryDetail.dayHigh.fmt)</li>
    
</ul>
<ul class="list-group list-group-horizontal-sm">
    <li class="list-group-item">Day Low</li>
    <li class="list-group-item">@Html.DisplayFor(modelItem => modelItem.summaryDetail.dayLow.fmt)</li>
    
</ul>
<ul class="list-group list-group-horizontal-md">
    <li class="list-group-item">Volume</li>
    <li class="list-group-item">@Html.DisplayFor(modelItem => modelItem.summaryDetail.volume.fmt)</li>
    
</ul>
<ul class="list-group list-group-horizontal-lg">
    <li class="list-group-item">Previous Close</li>
    <li class="list-group-item">@Html.DisplayFor(modelItem => modelItem.price.regularMarketPreviousClose.fmt)</li>
    
</ul>
<ul class="list-group list-group-horizontal-xl">
    <li class="list-group-item">Change Perrcent</li>
    <li class="list-group-item">@Html.DisplayFor(modelItem => modelItem.price.regularMarketChangePercent.fmt)</li>
    
</ul>
<ul class="list-group list-group-horizontal-xxl">
    <li class="list-group-item">3 Month Volume Average</li>
    <li class="list-group-item">@Html.DisplayFor(modelItem => modelItem.price.averageDailyVolume3Month.fmt)</li>
    
</ul>

